<h1>Stores</h1>

<table class = 'ui table'>
<thead>
<th>Store Name</th>
<th>View Store</th>
<th>View Products</th>
</thead>
<tbody>
<% @stores.each do |store|%>
<tr>
    <td><%= store.store_name %></td>
    <td><%= link_to "View Store", store_path(store) %></td>
    <td><%= link_to 'View Store Items', store_products_path(store.id) %></td>
</tr>
<% end %>
</tbody>
</table>

<button class="ui primary button">
  <a><%= link_to "Create a Store", new_store_path%></a>
</button>


