<h1>Stores</h1>

<ul>
<% @stores.each do |store|%>
  <li>
    <%= store.id %>
    <%= store.store_name %>
    <%= link_to 'View Store Items', store_path(store.id) %>
  </li>
<% end %>
</ul>

<button class="ui primary button">
  <a><%= link_to "Create a Store", new_store_path%></a>
</button>