<h1>Create A Store</h1>

<form class = 'ui form'>
  <%= form_for @store do |f| %>
    <div class='field'>
      <%= f.label :store_name%>
      <%= f.text_field :store_name%>
    </div>  
  
     <button class="ui button"> <%= f.submit %></button>
  <% end%>
</form>