<h1 class='ui header'>Product Show</h1>


<div class="ui link cards">
  <div class="card">
    <div class="content">
      <div class="header">
        <%= @product.product_name %>
      </div>
      <br>
      <div class="meta">
         <td><div class="ui tag labels">
            <a class="ui label">
              $<%=@product.product_price %>
            </a></td>
      </div>
      <br>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic green button"><%= link_to 'Edit Item', edit_store_product_path(@store) %></div>
        <div class="ui basic red button"><%= link_to 'Delete', [@store, @product], method: :delete %></div>
      </div>